<h1>Add a New Recruiter</h1>

<!--<div>
	<h2>Enter recruiter's first name:</h2>
	<textarea rows="1" cols="50"></textarea>
</div>

<div>
	<h2>Enter recruiter's last name:</h2>
	<textarea rows="1" cols="50"></textarea>
</div>

<div>
	<h2>Enter recruiter's current position:</h2>
	<textarea rows="1" cols="50"></textarea>
</div>

<div>
	<h2>Enter recruiter's email:</h2>
	<textarea rows="1" cols="50"></textarea>
</div>--->
<%= render 'form' %>



<div>
	<!--<a href="/recruiters/">Done</a>-->
	<%= link_to 'Back', '/recruiters/' %>
</div>