<h1>Recruiter Show</h1>

<h2>Recruiter: <%= @recruiter.full_name()%></h2>
<h2>Current Position: <%= @recruiter.current_position%></h2>
<h2>Email: <%= @recruiter.email%></h2>

<!--<a href="/recruiters/">Back</a>-->
<%= link_to 'Back', '/recruiters/' %>